{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main>
      <!-- Create -->
      <section class="relative py-24">
        <picture class="pointer-events-none absolute inset-0 -z-10 dark:hidden">
          <img src="{% static 'img/gradient_light.jpg' %}" alt="gradient" class="h-full w-full" />
        </picture>
       <div class="container">
        <h1 class="text-center font-display text-4xl font-medium text-jacarta-700 dark:text-white">
            Services
          </h1>
          <p class=" font-display text-2xl font-medium text-jacarta-700 dark:text-white">Select Type</p><br>
        <div class="w-full flex items-center px-4 md:px-6 xl:px-8" style="justify-content:space-around;">
           
            <div class="flex items-center gap-4">
                        <a href="{% url 'video' %}" class="tab px-4 py-2 rounded-lg bg-jacarta-100  font-display text-sm font-semibold text-jacarta-700 transition-colors hover:border-transparent hover:bg-accent hover:text-white dark:bg-jacarta-700 dark:text-white dark:hover:bg-accent">
                            <span class="whitespace-nowrap">1:1 Call</span>
                        </a>
                        <a href="{% url 'webinar' %}" class="tab px-4 py-2 rounded-lg bg-jacarta-100  font-display text-sm font-semibold text-jacarta-700 transition-colors hover:border-transparent hover:bg-accent hover:text-white dark:bg-jacarta-700 dark:text-white dark:hover:bg-accent">
                            <span class="whitespace-nowrap">Webinar</span>
                        </a>
                        <a  href="{% url 'priorityDM' %}" class="rounded-lg  font-display text-sm font-semibold text-jacarta-700 transition-colors border-transparent bg-accent text-white dark:bg-jacarta-700 dark:text-white dark:bg-accent px-6 py-3">
                            <span class="whitespace-nowrap">Priority DM</span>
                        </a>
                    </div>
        
                    <div class="flex gap-3">
                        <a href="{% url 'services' %}?type=Priority_DM" class="px-4 py-2 rounded-lg bg-jacarta-100 font-display text-sm font-semibold text-jacarta-700 transition-colors hover:border-transparent hover:bg-accent hover:text-white dark:bg-jacarta-700 dark:text-white dark:hover:bg-accent inline-block">
                            + Add New
                        </a>
                    </div>
                </div>
            </div>
           
        
          
        
      </section>
      {% if expertpriorityDmdetails %}
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 px-4" style="gap:1%">
        {% for expert in expertpriorityDmdetails %}
          <div  id ="session-{{ expert.id }}" class="bg-white shadow-xl rounded-2xl overflow-hidden transform transition hover:scale-105 hover:shadow-2xl h-full flex flex-col">
            <div class="p-6 flex-grow flex flex-col">
              <!-- Header with Title and Status -->
              <div class="flex justify-between items-center mb-4 ">
                <h1 class="text-xl font-semibold truncate" title="one to one">{{ expert.title }}</h1>
                <div class="flex items-center gap-2 text-gray-500">
                  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                    <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" 
                          d="M255.66 112c-77.94 0-157.89 45.11-220.83 135.33a16 16 0 0 0-.27 17.77C82.92 340.8 161.8 400 255.66 400c92.84 0 173.34-59.38 221.79-135.25a16.14 16.14 0 0 0 0-17.47C428.89 172.28 347.8 112 255.66 112z"></path>
                    <circle cx="256" cy="256" r="80" fill="none" stroke-miterlimit="10" stroke-width="32"></circle>
                  </svg>
                  <span class="text-sm font-medium">Public</span>
                </div>
              </div>
          
              <!-- Time and Price -->
              <div class="text-gray-600 text-lg mb-4 flex-grow">
                <span class="text-gray-900 font-semibold">₹{{ expert.amount }}</span>
              </div>
          
              <!-- Action Buttons -->
              <div class="flex justify-between mt-auto">
                <button
                class="font-display text-sm font-semibold text-accent"
                data-bs-toggle="modal"
                data-bs-target="#editPrioritydmModal"
              onclick="editPriorityDmSession({{ expert.id }},'{{ expert.title}}','{{ expert.description}}','{{ expert.amount}}')" >
                Edit
              </button>
                <button class="bg-red-500 text-black px-4 py-2 rounded-lg shadow-md hover:bg-red-600 transition" onclick="deletepriorityDmSession({{ expert.id }})">>
                  Delete
                </button>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
      {% else %}
      <div class="w-full md:w-2/3 p-4 flex flex-col items-center text-center">
        <img 
            alt="Empty State" 
            loading="lazy" 
            width="204" 
            height="20" 
            class="h-auto" 
            src="{% static 'img/priority_dm.svg' %}" 
            style="color: transparent;"
        />
        
        <div class="flex flex-col space-y-2 mt-4">
            <h5 class="text-lg font-semibold text-gray-800 dark:text-white">Answer Priority DM</h5>
            
            <div class="flex justify-center gap-6 mt-4">
                <a href="{% url 'services' %}?type=Priority_DM" class="px-4 py-2 rounded-lg bg-jacarta-100 font-display text-sm font-semibold text-jacarta-700 transition-colors hover:border-transparent hover:bg-accent hover:text-white dark:bg-jacarta-700 dark:text-white dark:hover:bg-accent inline-block">
                    + Add New
                </a>
               
            </div>
        </div>
        {% endif %}

      
    </div>
     
      
      <!-- end create -->
    </main>

    <div class="modal fade" id="editPrioritydmModal" tabindex="-1" aria-labelledby="editVideoModalLabel" aria-hidden="true">
      <div class="modal-dialog max-w-2xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editPrioritydmModalLabel">Edit PriorityDM Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
                class="h-6 w-6 fill-jacarta-700 dark:fill-white"
              >
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                />
              </svg>
            </button>
          </div>
          
          <!-- Body -->
          <div class="modal-body p-6">
            <form id="servicePrioritydmForm" class="mt-4">
              <input type="hidden" name="id" id="prioritydm-id">
              <div class="mb-4">
                <label for="prioritydm-title" class="block font-display text-jacarta-700 dark:text-white">Title<span class="text-red">*</span></label>
                <input type="text" name="title" id="prioritydm-title" placeholder="Enter title" 
                       class="contact-form-input w-full rounded-lg border-jacarta-100 py-3 hover:ring-2 focus:ring-accent dark:border-jacarta-600 dark:bg-jacarta-700 dark:text-white" required>
              </div>
              
              <div class="mb-4">
                <label for="prioritydm-description" class="block font-display text-jacarta-700 dark:text-white">Description<span class="text-red">*</span></label>
                <textarea name="description" id="prioritydm-description" placeholder="Enter description"
                       class="contact-form-input w-full rounded-lg border-jacarta-100 py-3 hover:ring-2 focus:ring-accent dark:border-jacarta-600 dark:bg-jacarta-700 dark:text-white" required></textarea>
              </div>
              <div class="mb-4">
                <label for="prioritydm-amount" class="block font-display text-jacarta-700 dark:text-white">Amount  <span class="text-red">*</span></label>
                <input type="text" name="amount" id="prioritydm-amount" placeholder="Enter amount" 
                       class="contact-form-input w-full rounded-lg border-jacarta-100 py-3 hover:ring-2 focus:ring-accent dark:border-jacarta-600 dark:bg-jacarta-700 dark:text-white" required>
              </div>
              
              
            </form>
          </div>
          
          <!-- Footer -->
          <div class="modal-footer" style="display:flex; justify-content:space-between">
            <button type="button" class="rounded-full bg-gray-300 py-3 px-6 text-jacarta-700 dark:text-white" data-bs-dismiss="modal" onclick=resetform()>Cancel</button>
            <button type="button" class="rounded-full bg-accent py-3 px-8 text-white shadow-accent-volume hover:bg-accent-dark" onclick=updatePriorityDmSession()>Save Changes</button>
          </div>
        </div>
      </div>
    </div>
    <script>

        function deletepriorityDmSession(id){
    
            if (confirm("Are you sure you want to delete this priority DM session?")) {
        
              $.ajax({
                url:`/deleteprioritydmSession_api/${id}/`,
                method:'POST',
                success: function(data){
                  toastr.success("Webinar session deleted successfully")
                  $(`#session-${id}`).remove();
        
                },
                error: function(xhr) {
                  var errors = xhr.responseJSON;
                  var firstKey = Object.keys(errors)[0];
                  var firstError = errors[firstKey][0];
                  toastr.error(firstError, 'Error');
              }
              })
            }
          }


          function editPriorityDmSession(id, title,description,amount){
            document.getElementById('prioritydm-id').value = id
        
            document.getElementById('prioritydm-title').value = title
            document.getElementById('prioritydm-description').value = description

            document.getElementById('prioritydm-amount').value = amount
        
          }
        
          function resetform(){
            document.getElementById('prioritydm-id').value = ""
        
            document.getElementById('prioritydm-title').value = ""
            document.getElementById('prioritydm-amount').value = ""
            document.getElementById('prioritydm-description').value =""
        
          }
        
          function updatePriorityDmSession(){
        
           const id =  document.getElementById('prioritydm-id').value
        
           const title =  document.getElementById('prioritydm-title').value
           const description =  document.getElementById('prioritydm-description').value
            const amount = document.getElementById('prioritydm-amount').value 
        
           var formData = new FormData()
        
           formData.append("id",id)
           formData.append('title', title);
           formData.append('description', description);
           formData.append('amount', amount);
                    
        
           $.ajax({
            url:"/updatePriorityDmSession_api/",
            method:"POST",
            data:formData,
            processData: false,
             contentType: false,
            success: function(data){
              toastr.success("session details updated successfully")
              $(`#session-${id}`).html(`<div class="p-6 flex-grow flex flex-col">
                  <!-- Header with Title and Status -->
                  <div class="flex justify-between items-center mb-4 ">
                    <h1 class="text-xl font-semibold truncate" title="one to one">${title}</h1>
                    <div class="flex items-center gap-2 text-gray-500">
                      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" 
                              d="M255.66 112c-77.94 0-157.89 45.11-220.83 135.33a16 16 0 0 0-.27 17.77C82.92 340.8 161.8 400 255.66 400c92.84 0 173.34-59.38 221.79-135.25a16.14 16.14 0 0 0 0-17.47C428.89 172.28 347.8 112 255.66 112z"></path>
                        <circle cx="256" cy="256" r="80" fill="none" stroke-miterlimit="10" stroke-width="32"></circle>
                      </svg>
                      <span class="text-sm font-medium">Public</span>
                    </div>
                  </div>
              
                  <!-- Time and Price -->
                  <div class="text-gray-600 text-lg mb-4 flex-grow">
                    <span class="text-gray-900 font-semibold">₹${amount}</span>
                  </div>
              
                  <!-- Action Buttons -->
                  <div class="flex justify-between mt-auto">
                    <button
                            class="font-display text-sm font-semibold text-accent edit-prioritydm-session"
                            data-bs-toggle="modal"
                            data-bs-target="#editVideoModal"
                          data-id="${id}"
                      data-title="${title}"
                       data-description="${description}"
                      data-duration="${duration}"
                      data-amount="${amount}" >
                            Edit
                          </button>
                    <button class="bg-red-500 text-black px-4 py-2 rounded-lg shadow-md hover:bg-red-600 transition" onclick="deleteVideoSession(${id})">>
                      Delete
                    </button>
                  </div>
                </div>
              </div>`);
             
            },
            error: function(xhr){
              var errors = xhr.responseJSON;
                            var firstKey = Object.keys(errors)[0];
                            var firstError = errors[firstKey][0];
                            toastr.error(firstError, 'Error');
            }
           })
          }
         

          $(document).on("click", ".edit-prioritydm-session", function () {
            const id = $(this).data("id");
            const title = $(this).data("title");
            const description = $(this).data("description");
            const amount = $(this).data("amount");
        
            editPriorityDmSession(id,title,description,amount);
        });
        
       </script>
        
    
    {% endblock %}


     
    