{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main class="pt-[5.5rem] lg:pt-24">
      <!-- TOS -->
      <section class="relative py-16 dark:bg-jacarta-800 md:py-24">
        <picture class="pointer-events-none absolute inset-0 -z-10 dark:hidden">
          <img src="{% static 'img/gradient_light.jpg' %}" alt="gradient" class="h-full w-full" />
        </picture>
        <div class="container">
          <h1 class="text-center font-display text-4xl font-medium text-jacarta-700 dark:text-white">
            Terms Of Service
          </h1>
          <div class="article-content mx-auto max-w-[48.125rem]">
            <h2 class="text-base">Introduction</h2>
            <p>
              These Terms of Service (“Terms”) govern your access to and use of the Xhibiter website(s), our APIs,
              mobile app (the “App”), and any other software, tools, features, or functionalities provided on or in
              connection with our services; including without limitation using our services to view, explore, and create
              NFTs and use our tools, at your own discretion, to connect directly with others to purchase, sell, or
              transfer NFTs on public blockchains (collectively, the “Service”). “NFT” in these Terms means a
              non-fungible token or similar digital item implemented on a blockchain (such as the Ethereum blockchain),
              which uses smart contracts to link to or otherwise be associated with certain content or data. For
              purposes of these Terms, “user”, “you”, and “your” means you as the user of the Service. If you use the
              Service on behalf of a company or other entity then “you” includes you and that entity, and you represent
              and warrant that (a) you are an authorized representative of the entity with the authority to bind the
              entity to these Terms, and (b) you agree to these Terms on the entity's behalf.
            </p>
            <p>
              PLEASE READ THESE TERMS OF SERVICE CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION AND AFFECT YOUR LEGAL
              RIGHTS. AS OUTLINED IN SECTION 16 BELOW, THEY INCLUDE A MANDATORY ARBITRATION AGREEMENT AND CLASS ACTION
              WAIVER WHICH (WITH LIMITED EXCEPTIONS) REQUIRE ANY DISPUTES BETWEEN US TO BE RESOLVED THROUGH INDIVIDUAL
              ARBITRATION RATHER THAN BY A JUDGE OR JURY IN COURT.
            </p>
            <p>
              BY CLICKING TO ACCEPT AND/OR USING OUR SERVICE, YOU AGREE TO BE BOUND BY THESE TERMS AND ALL OF THE TERMS
              INCORPORATED HEREIN BY REFERENCE. IF YOU DO NOT AGREE TO THESE TERMS, YOU MAY NOT ACCESS OR USE THE
              SERVICE.
            </p>

            <p>
              Xhibiter is not a wallet provider, exchange, broker, financial institution, or creditor. Xhibiter provides
              a peer-to-peer web3 service that helps users discover and directly interact with each other and NFTs
              available on public blockchains. We do not have custody or control over the NFTs or blockchains you are
              interacting with and we do not execute or effectuate purchases, transfers, or sales of NFTs. To use our
              Service, you must use a third-party wallet which allows you to engage in transactions on blockchains.
            </p>

            <p>
              Because we have a growing number of services, we sometimes need to provide additional terms for specific
              services (and such services are deemed part of the “Service” hereunder and shall also be subject to these
              Terms). Those additional terms and conditions, which are available with the relevant service, then become
              part of your agreement with us if you use those services. In the event of a conflict between these Terms
              and any additional applicable terms we may provide for a specific service, such additional terms shall
              control for that specific service.
            </p>

            <h2>Ownership</h2>

            <p>
              The Service, including its “look and feel” (e.g., text, graphics, images, logos, page headers, button
              icons, and scripts), proprietary content, information and other materials, and all content and other
              materials contained therein, including, without limitation, the Xhibiter logo and all designs, text,
              graphics, pictures, data, software, sound files, other files, and the selection and arrangement thereof
              are the proprietary property of Xhibiter or our affiliates, licensors, or users, as applicable, and you
              agree not to take any action(s) inconsistent with such ownership interests. We and our affiliates,
              licensors, and users, as applicable, reserve all rights in connection with the Service and its content,
              including, without limitation, the exclusive right to create derivative works.
            </p>

            <h2>License to Access and Use Our Service and Content</h2>

            <p>
              You are hereby granted a limited, nonexclusive, nontransferable, nonsublicensable, and personal license to
              access and use the Service provided, however, that such license is subject to your compliance with these
              Terms. If any software, content, or other materials owned by, controlled by, or licensed to us are
              distributed or made available to you as part of your use of the Service, we hereby grant you a
              non-commercial, personal, non-assignable, non-sublicensable, non-transferrable, and non-exclusive right
              and license to access and display such software, content, and materials provided to you as part of the
              Service (and right to download a single copy of the App onto your applicable equipment or device), in each
              case for the sole purpose of enabling you to use the Service as permitted by these Terms, provided that
              your license in any content linked to or associated with any NFTs is solely as set forth by the applicable
              seller or creator of such NFT.
            </p>

            <h2>Intellectual Property Rights</h2>

            <p>
              You are solely responsible for your use of the Service and for any information you provide, including
              compliance with applicable laws, rules, and regulations, as well as these Terms, including the User
              Conduct requirements outlined above.
            </p>

            <p>
              By using the Service in conjunction with creating, submitting, posting, promoting, or displaying content,
              or by complying with OpenSea's metadata standards in your metadata API responses, you grant us a
              worldwide, non-exclusive, sublicensable, royalty-free license to use, copy, modify, and display any
              content, including but not limited to text, materials, images, files, communications, comments, feedback,
              suggestions, ideas, concepts, questions, data, or otherwise, that you submit or post on or through the
              Service for our current and future business purposes, including to provide, promote, and improve the
              Service. This includes any digital file, art, or other material linked to or associated with any NFTs that
              are displayed on the Service.
            </p>

            <h2>Miscellaneous</h2>

            <p>
              These Terms constitute the entire agreement between you and Xhibiter relating to your access to and use of
              the Service. These Terms, and any rights and licenses granted hereunder, may not be transferred or
              assigned by you without the prior written consent of Xhibiter, and Xhibiter’s failure to assert any right
              or provision under these Terms shall not constitute a waiver of such right or provision. No waiver by
              either party of any breach or default hereunder shall be deemed to be a waiver of any preceding or
              subsequent breach or default. The section headings used herein are for reference only and shall not be
              read to have any legal effect.
            </p>

            <p>
              The Service is operated by us in the United States. Those who choose to access the Service from locations
              outside the United States do so at their own initiative and are responsible for compliance with applicable
              local laws. You and Xhibiter agree that the United Nations Convention on Contracts for the International
              Sale of Goods will not apply to the interpretation or construction of these Terms.
            </p>

            <p>
              Except as otherwise provided herein, these Terms are intended solely for the benefit of the parties and
              are not intended to confer third-party beneficiary rights upon any other person or entity.
            </p>
          </div>
        </div>
      </section>
      <!-- end TOS -->
    </main>

    <!-- Wallet Modal -->
    <div class="modal fade" id="walletModal" tabindex="-1" aria-labelledby="walletModalLabel" aria-hidden="true">
      <div class="modal-dialog max-w-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="walletModalLabel">Connect your wallet</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
                class="h-6 w-6 fill-jacarta-700 dark:fill-white"
              >
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                />
              </svg>
            </button>
          </div>

          <!-- Body -->
          <div class="modal-body p-6 text-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0"
              y="0"
              viewBox="0 0 318.6 318.6"
              xml:space="preserve"
              class="mb-4 inline-block h-8 w-8"
            >
              <style>
                .st1,
                .st6 {
                  fill: #e4761b;
                  stroke: #e4761b;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                }
                .st6 {
                  fill: #f6851b;
                  stroke: #f6851b;
                }
              </style>
              <path
                fill="#e2761b"
                stroke="#e2761b"
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M274.1 35.5l-99.5 73.9L193 65.8z"
              />
              <path
                class="st1"
                d="M44.4 35.5l98.7 74.6-17.5-44.3zm193.9 171.3l-26.5 40.6 56.7 15.6 16.3-55.3zm-204.4.9L50.1 263l56.7-15.6-26.5-40.6z"
              />
              <path
                class="st1"
                d="M103.6 138.2l-15.8 23.9 56.3 2.5-2-60.5zm111.3 0l-39-34.8-1.3 61.2 56.2-2.5zM106.8 247.4l33.8-16.5-29.2-22.8zm71.1-16.5l33.9 16.5-4.7-39.3z"
              />
              <path
                d="M211.8 247.4l-33.9-16.5 2.7 22.1-.3 9.3zm-105 0l31.5 14.9-.2-9.3 2.5-22.1z"
                fill="#d7c1b3"
                stroke="#d7c1b3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M138.8 193.5l-28.2-8.3 19.9-9.1zm40.9 0l8.3-17.4 20 9.1z"
                fill="#233447"
                stroke="#233447"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M106.8 247.4l4.8-40.6-31.3.9zM207 206.8l4.8 40.6 26.5-39.7zm23.8-44.7l-56.2 2.5 5.2 28.9 8.3-17.4 20 9.1zm-120.2 23.1l20-9.1 8.2 17.4 5.3-28.9-56.3-2.5z"
                fill="#cd6116"
                stroke="#cd6116"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M87.8 162.1l23.6 46-.8-22.9zm120.3 23.1l-1 22.9 23.7-46zm-64-20.6l-5.3 28.9 6.6 34.1 1.5-44.9zm30.5 0l-2.7 18 1.2 45 6.7-34.1z"
                fill="#e4751f"
                stroke="#e4751f"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                class="st6"
                d="M179.8 193.5l-6.7 34.1 4.8 3.3 29.2-22.8 1-22.9zm-69.2-8.3l.8 22.9 29.2 22.8 4.8-3.3-6.6-34.1z"
              />
              <path
                fill="#c0ad9e"
                stroke="#c0ad9e"
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M180.3 262.3l.3-9.3-2.5-2.2h-37.7l-2.3 2.2.2 9.3-31.5-14.9 11 9 22.3 15.5h38.3l22.4-15.5 11-9z"
              />
              <path
                fill="#161616"
                stroke="#161616"
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M177.9 230.9l-4.8-3.3h-27.7l-4.8 3.3-2.5 22.1 2.3-2.2h37.7l2.5 2.2z"
              />
              <path
                d="M278.3 114.2l8.5-40.8-12.7-37.9-96.2 71.4 37 31.3 52.3 15.3 11.6-13.5-5-3.6 8-7.3-6.2-4.8 8-6.1zM31.8 73.4l8.5 40.8-5.4 4 8 6.1-6.1 4.8 8 7.3-5 3.6 11.5 13.5 52.3-15.3 37-31.3-96.2-71.4z"
                fill="#763d16"
                stroke="#763d16"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                class="st6"
                d="M267.2 153.5l-52.3-15.3 15.9 23.9-23.7 46 31.2-.4h46.5zm-163.6-15.3l-52.3 15.3-17.4 54.2h46.4l31.1.4-23.6-46zm71 26.4l3.3-57.7 15.2-41.1h-67.5l15 41.1 3.5 57.7 1.2 18.2.1 44.8h27.7l.2-44.8z"
              />
            </svg>
            <p class="text-center dark:text-white">
              You don't have MetaMask in your browser, please download it from
              <a href="https://metamask.io/" class="text-accent" target="_blank" rel="noreferrer noopener">MetaMask</a>
            </p>
          </div>
          <!-- end body -->

          <div class="modal-footer">
            <div class="flex items-center justify-center space-x-4">
              <a
                href="https://metamask.io/"
                target="_blank"
                rel="noreferrer noopener"
                class="rounded-full bg-accent py-3 px-8 text-center font-semibold text-white shadow-accent-volume transition-all hover:bg-accent-dark"
              >
                Get Metamask
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}